<nav class="sidebar-nav">
  <h2>FoodOps</h2>
  <ul>
    <li><a routerLink="/dashboard"   routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a></li>
    <li><a routerLink="/users"       routerLinkActive="active">Users</a></li>
    <li><a routerLink="/riders"      routerLinkActive="active">Riders</a></li>
    <li><a routerLink="/tracking"    routerLinkActive="active">Live Tracking</a></li>
    <li><a routerLink="/fleet"       routerLinkActive="active">Fleet Monitor</a></li>
    <li><a routerLink="/restaurants" routerLinkActive="active">Restaurants</a></li>
    <li><a routerLink="/orders"      routerLinkActive="active">Orders</a></li>
    <li><a routerLink="/complaints"     routerLinkActive="active">Complaints</a></li>
    <li><a routerLink="/notifications"  routerLinkActive="active">Notifications</a></li>
    <li><a routerLink="/analytics"   routerLinkActive="active">Analytics</a></li>
    <li><a routerLink="/settings"    routerLinkActive="active">Settings</a></li>
  </ul>
</nav>
